.message{
	width: 90%;
	left: 5%;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

.message-text{
	font-weight: bold;
	margin-left: 20px;
}

.error{
	background: #F75858;
	color: #fff;
}

.error-text{
	font-size: 70%;
	color: #DC0D0D;
}

.loading-button{
	width: 30px;
}

#cc{
	position: fixed;
	text-align: center;
	vertical-align:middle;
	padding-top: 20%;
}