<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Sobre o Curso Bacharelado Em Sistema De Informação</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
</head>
<body>
	<section  style="background-image:url('img/mini-profile-bg-02.jpg');width:500rem;">
		<div class="jumbotron">
			<h1 class="h1 text-center">Objetivo Do Curso Bacharelado Em Sistema De Informação</h1>
			<hr class="my-4">
			<div class="container">
				<div class="row row-cols-4">
					<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg " href="/" role="button">Voltar Menu Inicial</a>
					<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg" style="width:200px;" href="/fundamentos" target="_blank" role="button">Fundamentos Do Curso</a>
				</div>	
			</div>
		</div>
	</section>
	<div class="tm-portfolio-item">
		<div class="container">
			<div class="row row-cols-6">
				<div class="col-md-8 mb-5">
					<div class="tm-portfolio-description d-inline-block p-8 position-absolute top-100 start-100" style="width:100rem;top:250px;">
						<h3 class="d-inline-block p-8 text-center position-absolute top-150 start-150" style="width:80rem; top:250px; ">
							Bacharelado em Sistemas de Informação
							<span class="tm-title-small">
								2020
							</span>
						</h3>
						<br>
						<p class=" d-inline-block p-8 text-center position-absolute top-150 start-150" style="width:80rem;top:300px;">
							O curso de bacharelado em Sistemas de Informação do IFNMG Campus Arinos tem por objetivo básico formar recursos humanos com sólido conhecimento em informática e que atuem profissionalmente na pesquisa, desenvolvimento e gestão de Sistemas de Informação propondo soluções tecnológicas alinhadas às necessidades das organizações, comprometidos com o seu papel social e profissional, no sentido de contribuir para o avanço tecnológico e científico calcado em valores humanísticos e éticos como preconizado pela Sociedade Brasileira de Computação e tendo como pressuposto que o comprometimento do homem com sua região é fator preponderante no desenvolvimento social, cultural e tecnológico.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>




	<!--- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>