<div class="container">
  <h2 class="title col-sm-12 center">
    <div class="row">
      <div class="col-sm float-sm-left">
        Curso Bacharel em Sistemas de Informações 
      </div>
    </div>
    <hr>
	
  </h2>
  <h4 class="center">
    <span id="course_title" class="editable color1" title="Clique Para Editar" {{#if (adminPermission)}}onclick="editContent(this, 'course_title', 'text');"{{/if}}>{{#if contentTexts.course_title }}{{decodeURIComponent contentTexts.course_title}}{{else}}Objetivos Do Curso Bacharelado Em Sistema De Informação{{/if}}</span>
    </h4>
   <br>

	<div class="tm-portfolio-description d-inline-block p-8  top-100 start-100" style="width:100rem;top:250px;">
		<br>
		<p class=" d-inline-block p-8 text-start top-150 start-150" style="width:70rem;top:350px;">
			<span id="course_body" class="editable color2" title="Clique Para Editar" {{#if (adminPermission)}}onclick="editContent(this, 'course_body', 'textarea');"{{/if}}>{{#if contentTexts.course_body }}{{decodeURIComponent contentTexts.course_body}}{{else}}O curso de bacharelado em Sistemas de Informação do IFNMG Campus Arinos tem por objetivo básico formar recursos humanos com sólido conhecimento em informática e que atuem profissionalmente na pesquisa, desenvolvimento e gestão de Sistemas de Informação propondo soluções tecnológicas alinhadas às necessidades das organizações, comprometidos com o seu papel social e profissional, no sentido de contribuir para o avanço tecnológico e científico calcado em valores humanísticos e éticos como preconizado pela Sociedade Brasileira de Computação e tendo como pressuposto que o comprometimento do homem com sua região é fator preponderante no desenvolvimento social, cultural e tecnológico.{{/if}}</span>
		</p>
		<hr>
		<p>
			<a class=" mx-auto btn-lg" href="/curso/fundamentos" role="button">Fundamentos Do Curso</a>
		</p>
	</div>
</div>
