	<div class="container">
		<section  style="background-image:url('img/mini-profile-bg-02.jpg')">
			<div class="container">
				<h1 class="h1 text-center">Descrição Dos Docentes</h1>
				<hr class="my-4">
				<div class="container">
					<div class="row row-cols-4">
						<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg " href="/" role="button">Voltar Menu Inicial</a>
						<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg" style="width:200px;" href="https://www.ifnmg.edu.br/cursos-ari1/cursos-superiores/272-portal/arinos/arinos-cursos-superiores/bacharelado-em-sistemas-de-informacao/13111-corpo-docente" target="_blank" role="button">Descrição Dos Docentes</a>
					</div>	
				</div>
			</div>
		</section>
		<div class="tm-portfolio-description d-inline-block p-8 top-100 start-100" style="width:100rem;top:250px;">
			<h3 class="d-inline-block p-8 text-center  top-150 start-150" style="width:70rem; top:100px; ">
				Objetivo dos docentes do curso bacharelado em sistema de informação
				<span class="tm-title-big">
					2021
				</span>
			</h3>
			<br>
			<p class=" d-inline-block p-8 text-start top-150 start-150" style="width:70rem;top:150px;">
				Objetivo dos docentes no curso bacharelado em sistemas de informação é trazer conhecimento para os discentes que se ingressaram no curso, para capacita-los a ter uma boa experiência profissional. Os mesmos tem o objetivo de transferir conhecimento e capacitação ao longo de sua jornada. Os docentes carregam uma responsabilidade de ensinar os discentes como deve mexer com determinada conteudo das disciplinas, e somar conhecimento nas suas cabeças que estão sendo desenvolvidas ao longo de sua trajetoria no curso.
			</p>
		</div>
	</div>