<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title class="h1 text-center">Sobre o Centro Academico</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
</head>
<body>
	<section  style="background-image:url('img/mini-profile-bg-01.jpg');width:2000rem;">
		<div class="container">
			<h1 class="h1 text-center text-white">Objetivo Centro Academico</h1>
			<hr class="my-4">
			<div class="container">
				<div class="row row-cols-4">
					<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg " href="/" role="button">Voltar Menu Inicial</a>
					<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg" style="width:200px;" href="/fundamentos" target="_blank" role="button">Fundamentos Do Curso</a>
				</div>	
			</div>
		</div>
	</section>
	<div class="tm-portfolio-item form-group ">
		
		<div class="tm-portfolio-item">
			<div class="container">
				<div class="row row-cols-6">
					<div class="col-md-8 mb-5">
						<div class="tm-portfolio-description d-inline-block p-8 position-absolute top-100 start-100" style="width:100rem;top:250px;">
							<h3 class="d-inline-block p-8 text-center position-absolute top-150 start-150" style="width:80rem; top:150px; ">
								Objetivo Do Ca printf
								<span class="tm-title-small">
									2020
								</span>
							</h3>
							<br>
							<p class=" d-inline-block p-8 text-center position-absolute top-150 start-150" style="width:80rem;top:200px;">
								O centro academico tem por objetivo fazer a união entre discentes e docentes, com intuito de ajudar ambos a ter um relacionamento saudavel entre todas as partes. Fazendo um beneficio tanto para o melhoramento do curso como para proximos academicos que vão ingressar no mesmo, para ter uma boa estabilidade de como é o curso,como é suas caracteristicas e planejamento.
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</body>
	</html>