<div class="container">
  <h2 class="title col-sm-12 center">
    <div class="row">
      <div class="col-sm float-sm-left">
        Centro Acadêmico 
      </div>
    </div>
    <hr>
  </h2>
  <h4 class="center">Objetivos do Centro Acadêmico</h4>
   <br>
	<div class="tm-portfolio-description d-inline-block p-8 top-100 start-100">
		<br>
		<p class="d-inline-block p-8 text-center mx-auto top-150 start-250 centro-academico">
			O Centro Acadêmico tem por objetivo fazer a união ntre discentes e docentes, com intuito de ajudar ambos a ter um relacionamento saudavel entre todas as partes. Fazendo um beneficio tanto para o melhoramento do curso como para proximos academicos que vão ingressar no mesmo, para ter uma boa estabilidade de como é o curso,como é suas caracteristicas e planejamento.
		</p>
		<hr>
		<p>
			<a class=" mx-auto btn-lg" href="/centro-academico/membros" role="button">Membros do Centro Acadêmico</a>
		</p>
	</div>
</div>