<div class="container">
	<h2 class="title h2 col-sm-12 center">
		<div class="row">
			<div class="col-sm float-sm-left">
				Descrição Dos Docentes 
			</div>
		</div>
		<hr>		
	</h2>
	<h4 class="center">
		<span id="teachers_title" class="editable color0" title="Clique Para Editar" {{#if (adminPermission)}}onclick="editContent(this, 'teachers_title', 'text');"{{/if}}>{{#if contentTexts.teachers_title }}{{decodeURIComponent contentTexts.teachers_title}}{{else}}Objetivo dos docentes do curso Bacharelado em Sistema de Informações 2021{{/if}}</span>
		</h4>
	<br>
	<div class="tm-portfolio-description d-inline-block p-8 top-100 start-100" style="width:1000px;top:250px;">
		<br>
		<p class=" d-inline-block p-8 text-start top-150 start-150" style="width:70rem;top:150px;">
			<span id="teachers_body" class="editable color1" title="Clique Para Editar" {{#if (adminPermission)}}onclick="editContent(this, 'teachers_body', 'textarea');"{{/if}}>{{#if contentTexts.teachers_body }}{{decodeURIComponent contentTexts.teachers_body}}{{else}}Objetivo dos docentes no curso bacharelado em sistemas de informação é trazer conhecimento para os discentes que se ingressaram no curso, para capacita-los a ter uma boa experiência profissional. Os mesmos tem o objetivo de transferir conhecimento e capacitação ao longo de sua jornada. Os docentes carregam uma responsabilidade de ensinar os discentes como deve mexer com determinada conteudo das disciplinas, e somar conhecimento nas suas cabeças que estão sendo desenvolvidas ao longo de sua trajetoria no curso.{{/if}}</span>
		</p>
	</div>
</div>