<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>FundamentosDoCurso</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>
<body>
	<div id="tmContact" class="parallax-window" data-parallax="scroll" data-image-src="/img/mini-profile-bg-01.jpg" style="width:2000px;">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="tm-contact-items-container col-12">
						<div class="tm-contact-item">
							<i class="fas fa-5x fa-briefcase tm-contact-item-icon"></i>
							<p class="mb-0">
								A linguagem de programação é um método padronizado, formado por um conjunto de regras sintáticas e semânticas, de implementação de um código fonte - que pode ser compilado e transformado em um programa de computador, ou usado como script interpretado - que informará instruções de processamento ao computador. 
							</p>
						</div>
						<div class="tm-contact-item">
							<i class="fas fa-5x fa-building tm-contact-item-icon"></i>
							<p class="mb-0">
								As organizações contemporâneas têm na tecnologia da informação um elemento estratégico, na medida em que as soluções tecnológicas automatizam processos organizacionais e são fonte de vantagens competitivas através da análise de cenários, apoio ao processo decisório e definição e implementação de novas estratégias organizacionais. Assim, cresce a preocupação com a coleta, armazenamento, processamento e transmissão da informação à medida que a disponibilidade da informação certa, no momento certo, para o tomador de decisão certo, é requisito fundamental para a melhoria contínua da qualidade e competitividade organizacionais, o que implica em considerar a crescente relevância dos Sistemas de informação baseados em computador.
							</p>
						</div>

						<div class="tm-contact-item">
							<i class="fas fa-5x fa-balance-scale tm-contact-item-icon"></i>
							<p class="mb-0">
								Entre em contato com os responsáveis pelo gerenciamento das atividades do Centro Acadêmico.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>