<div class="container">
	<h2 class="title col-sm-12">
		<div class="row">
		<div class="col-sm float-sm-left">
			Membros do Centro Acadêmico 
		</div>
		</div>
		<hr>
		
	</h2>
  <h4 class="center">Membros Do Centro Academico 2021</h4>
   <br>
		<div class="tm-portfolio-description d-inline-block p-8  top-100 start-100" style="width:100rem;top:250px;">
			<div class="conainer row-cols-4">
				<div class="card">
					<div class="card-header text-center">
						Membros
					</div>
					<div class="card-body">
						<h5 class="card-title text-center">Pagina De Membros Do CA</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-primary">Saiba Mais</a>
					</div>
				</div>
			</div>
		</div>
	</div>