	<div class="container">
		<section  style="background-image:url('img/mini-profile-bg-01.jpg')">
			<div class="container">
				<h1 class="h1 text-center text-white">Membros Do CA</h1>
				<hr class="my-4">
				<div class="container">
					<div class="row row-cols-4">
						<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg " href="/" role="button">Voltar Menu Inicial</a>
						<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg" style="width:200px;" href="/descriptionca"  role="button">Voltar para a pagina do CA</a>
					</div>	
				</div>
			</div>
		</section>
		<div class="tm-portfolio-description d-inline-block p-8  top-100 start-100" style="width:100rem;top:250px;">
			<h3 class="d-inline-block p-8 text-center  top-150 start-150" style="width:60rem; top:300px; ">
				Membros Do Centro Academico
				<span class="tm-title-big">
					2021
				</span>
			</h3>
			<div class="conainer row-cols-4">
				<div class="card">
					<div class="card-header text-center">
						Membros
					</div>
					<div class="card-body">
						<h5 class="card-title text-center">Pagina De Membros Do CA</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-primary">Saiba Mais</a>
					</div>
				</div>
			</div>
		</div>
	</div>