<!-- row -->

  <footer class="footer">
    <p class="container text-center">
      &copy;Projeto-Fabrica-2020 
    </p>
    <p>
    	Facebook
    </p>
    <p>
    	Instagram
    </p>
    <p>
    	<a href="https://www.ifnmg.edu.br/arinos">IFNMG - Campus Arinos</a>
    </p>
  </footer>
