<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CA-Printf</title>
	<link rel="stylesheet" href="/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css">
	<link rel="stylesheet" href="/css/templatemo-style.css">
	<link rel="stylesheet" type="text/css" href="/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/css/signup.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/cards.css">
</head>
<body>


	{{>_navbar}}
	<div id="app">

		{{#if error}}
		<div class="alert alert-danger">
			{{error}}
		</div>
		
		{{/if}}
		{{{body}}}
		
	</div>

	{{>_footer}}

	<script src="/js/jquery.min.js"></script>
	<script src="/js/parallax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script src="/js/scripts.js"></script>


	<script>

	function detectMsBrowser() {
		using_ms_browser =
		navigator.appName == "Microsoft Internet Explorer" ||
		(navigator.appName == "Netscape" &&
			navigator.appVersion.indexOf("Edge") > -1) ||
		(navigator.appName == "Netscape" &&
			navigator.appVersion.indexOf("Trident") > -1);

		if (using_ms_browser == true) {
			alert(
				"Please use Chrome or Firefox for the best browsing experience!"
				);
		}
	}
	function setBrandMarginTop() {
		var bottomContainerHeight = $(".tm-welcome-container").height();

		$(".tm-brand-container-outer").css({
			"margin-top": -bottomContainerHeight + "px"
		});
	}

	$(function() {
		setBrandMarginTop();
		detectMsBrowser();

        // Handle window resize event
        $(window).resize(function() {
        	setBrandMarginTop();
        });
    });


	</script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script scr="/js/validacaoformevents.js"></script>
</body>
</html>