	<div class="container">
		<section  style="background-image:url('img/mini-profile-bg-01.jpg');">
			<div class="container">
				<h1 class="h1 text-center text-white">Cadastrar Membros Do CA</h1>
				<hr class="my-4">
				<div class="container">
					<div class="row row-cols-4">
						<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg " href="/descriptionca" role="button">Voltar Pagina Do CA</a>
					</div>	
				</div>
			</div>
		</section>
		<form action="" method="post">
			<main role="main" class="accordion card my-4" id="accordionExample">
				<div class="shadow-none p-3 mb-5 bg-light rounded mx-auto col-md-10 card-body" id="accordion">
					<div class="col-12">
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="presidente">Presidente</label>
								<input type="text" class="form-control bg-white" id="presidente" name="presidente">
							</div>
							<div class="col-md-6 mb-3">
								<label for="vicepresidente">Vice Presidente</label>
								<input type="text" class="form-control bg-white" id="vicepresidente" name="vicepresidente">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="secretario">Secretario</label>
								<input type="text" class="form-control bg-white" id="secretario" name="secretario">
							</div>
							<div class="col-md-6 mb-3">
								<label for="tesoureiro">Tesoureiro</label>
								<input type="text" class="form-control bg-white" id="tesoureiro" name="tesoureiro">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="coordenadordecomunicacao">Coordenador De Comunicação</label>
								<input type="text" class="form-control bg-white" id="coordenadordecomunicacao" name="coordenadordecomunicacao">
							</div>
							<div class="col-md-6 mb-3">
								<label for="coordenadordeeventos">Coordenador De Eventos</label>
								<input type="text" class="form-control bg-white" id="coordenadordeeventos" name="coordenadordeeventos">
							</div>
						</div>
						<hr class="my-4">
						<div class="col-12">
							<button type="submit" class="col-12 btn-lg btn-outline-primary">Salvar</button>
						</div>
					</div>
				</div>
			</main>
		</form>
	</div>
	