<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title class="h1 text-center">Cadastrar Membros Do Ca</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
</head>
<body>
	<section  style="background-image:url('img/mini-profile-bg-01.jpg');width:2000rem;">
		<div class="container">
			<h1 class="h1 text-center text-white">Cadastrar MembrosMembros Do CA</h1>
			<hr class="my-4">
			<div class="container">
				<div class="row row-cols-4">
					<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg " href="/" role="button">Voltar Menu Inicial</a>
				</div>	
			</div>
		</div>
	</section>
	
</body>
</html>