@media (max-width: 992px) {
	#form-modal{
		width: 60%;
		left: 20%;
	}
}

@media (max-width: 845px) {

}

@media (max-width: 815px) {
}

@media (max-width: 795px) {
	
	#form-modal{
		width: 80%;
		left: 10%;
	}
	p{
		font-family:8rem;
	}

}


@media (max-width: 760px) {
	
	.if{
		display: none;
	}
	p{
		font-family:7rem;
	}
}


@media (max-width: 503px) {
	p{
		font-size:6rem;
	}
}

@media (max-width: 471px) {
	p{
		font-size:5rem;
	}
	
}

@media (max-width: 439px) {
	p{
		font-size:4rem;
	}
}

@media (max-width: 407px) {
	
	p{
        font-size: 3rem;
    }
}

@media (max-width: 375px) {
	.tm-portfolio-description{
		width:1000rem;
		top:250px;
	}
	 p{
        font-size:2rem;
    }
}


