@media (max-width: 992px) {
	#form-modal{
		width: 60%;
		left: 20%;
	}
}

@media (max-width: 845px) {

}

@media (max-width: 815px) {
	.footer-extra-links span::after{
		content: " | ";
	}
}

@media (max-width: 795px) {
	
	#form-modal{
		width: 80%;
		left: 10%;
	}
	

}


@media (max-width: 760px) {
	
	.if{
		display: none;
	}
	
}


@media (max-width: 503px) {
	
}

@media (max-width: 471px) {
	
	
}

@media (max-width: 439px) {
	
}

@media (max-width: 407px) {
	
	
}

@media (max-width: 375px) {
	.tm-portfolio-description{
		width:1000rem;
		top:250px;
	}
	 
}
@media (max-width: 575.98px) {
	
}
/*Small devices (landscape phones, 576px and up)*/



