#app{
	position: relative;
	min-height: 100%;
	display: flex;
	padding-bottom: 20px;
}

.default-link{
	cursor: pointer;
	text-decoration: all;
}


button a{
	color: #fff;
	text-decoration: none;
}

.footer{
	position: relative;
	border-top: 20px solid #889399;
	background: #32202d2b;
	margin-top: 20px;
	padding: 10px;
	bottom: 0;
}

footer{
	position: relative;
	bottom: 0;
	border-top: 1px solid;
	margin-top: 10px;
	width: 100%;
	text-align: center;
	padding: 20px;
	background: #000;
}

.center{
	width: 100%;
	text-align: center;
}

#form-modal{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 40%;
	left: 30%;
	min-height: 50%;
	padding: 20px;
	z-index: 900;
	background: #6C7870;
	text-align: center;
	border-radius: 20px;
	display: block;
	margin: 20px;

}

button.btn-logout {
	background: white;
	color: #67671a;
	box-shadow: none;
}

.loader{
	position: fixed;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	transition: all 0.5s;
	z-index: 9999;
}
.loader .ring{
	height: 45px;
	width: 45px;
	border: 5px solid #ddd;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.loader .ring:after{
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 5px solid #ff3d00;
	border-top-color: transparent;
	animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
	100%{
		transform: rotate(360deg);
	}
}

.message{
	width: 90%;
	left: 5%;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

.card-header {
    background-color: rgb(9 68 99 / 34%);
    color: #f5f5dc;
    font-weight: bold;
    font-size: 200%;
}

.form-mail{
	background: #afafb5 !important;
}

.left15{
	margin-left: 15px;
}

.bg-gray{
	background: #808693;
}

.message-text{
	font-weight: bold;
	margin-left: 20px;
}

.error{
	background: #F75858;
	color: #fff;
}

.error-text{
	font-size: 70%;
	color: #DC0D0D;
}

.loading-button{
	width: 30px;
}

#cc{
	position: fixed;
	text-align: center;
	vertical-align:middle;
	padding-top: 20%;
}

.default-page{
	position: relative;
	opacity: 0.9;
	background: #fff;
	width: 90%;
	left: 5%;
	border-radius: 20px;
	text-align: center;
	padding: 10px;
}


.card-user-profile{
	display: inline-block;
}