#app{
	position: relative;
	min-height: 100%;
	display: flex;
	padding-bottom: 20px;
}

.default-link{
	cursor: pointer;
	text-decoration: all;
}


button a{
	color: #fff;
	text-decoration: none;
}

.footer{
	border-top: 20px solid #43a047;
	background: #11cc623d;
	margin-top: 20px;
	padding: 10px;
	bottom: 0;
}

footer{
	position: relative;
	bottom: 0 !important;
	border-top: 1px solid;
	margin-top: 10px;
	width: 100%;
	text-align: center;
	padding: 20px;
	
}

.center{
	width: 100%;
	text-align: center;
}

#form-modal{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 40%;
	left: 30%;
	min-height: 50%;
	padding: 20px;
	z-index: 900;
	background: #f1f1f1;
	text-align: center;
	border-radius: 20px;
	display: block;
	margin: 20px;

}

button.btn-logout {
	background: white;
	color: #67671a;
	box-shadow: none;
}

.loader{
	position: fixed;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	transition: all 0.5s;
	z-index: 9999;
}
.loader .ring{
	height: 45px;
	width: 45px;
	border: 5px solid #ddd;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.loader .ring:after{
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 5px solid #ff3d00;
	border-top-color: transparent;
	animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
	100%{
		transform: rotate(360deg);
	}
}

.message{
	width: 90%;
	left: 5%;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

.card-header {
	background-color: rgb(9 68 99 / 34%);
	color: #f5f5dc;
	font-weight: bold;
	font-size: 200%;
}

.form-mail{
	background: #afafb5 !important;
}

.left15{
	margin-left: 15px;
}

.bg-gray{
	background: #808693;
}

.message-text{
	font-weight: bold;
	margin-left: 20px;
}

.error{
	background: #F75858;
	color: #fff;
}

.error-text{
	font-size: 70%;
	color: #DC0D0D;
}

.success-text{
	font-size: 70%;
	color: #0d8b3d;
}

.loading-button{
	width: 30px;
}

#cc{
	position: fixed;
	text-align: center;
	vertical-align:middle;
	padding-top: 20%;
}

.default-page{
	position: relative;
	opacity: 0.9;
	background: #fff;
	width: 90%;
	left: 5%;
	border-radius: 20px;
	text-align: center;
	padding: 10px;
}


.card-user-profile{
	display: inline-block;
}


.state{
	border: 1px solid;
	border-radius: 5px;
	font-size: 0.8rem;
	padding: 2px 15px;
	margin-left: 10px;
	font-weight: bold;
}

.state-active{
	background-color:rgba(13,230,84, 0.5);
}

.state-cancel{
	background-color:rgba(191,157,18, 0.5);
}

.state-inactive{
	background-color:rgba(241,42,6, 0.5);
}

.state-not-init{
	background-color:rgba(6,74,241, 0.5);
}

.state-in-progress{
	background-color:rgba(190,241,6, 0.5);
}

.state-finished{
	background-color:rgba(35,195,65, 0.84);
}

.link-pointer{
	cursor: pointer;
	transition: 0.7s;
}

.link-pointer:hover{
	color: #3fbd47 !important;
}

.link-pointer-search{
	cursor: pointer;
	transition: 0.3s;
}

.link-pointer-search:hover{
	color: #26629e !important;
}

.search-pointer-minus:hover:after{
	content: 'Mostrar Menos';
	color: #01021d85;
	font-size: 1.3rem;
	position: absolute;
	border: 1px solid;
	border-radius: 5px;
	font-size: 0.8rem;
	padding: 6px 20px;
	margin-left: -10px;
	margin-top: -15px;
	font-weight: bold;
	z-index: 9999;
}

.search-pointer-plus:hover:after{
	content: 'Mostrar Mais';
	color: #01021d85;
	font-size: 1.3rem;
	position: absolute;
	border: 1px solid;
	border-radius: 5px;
	font-size: 0.8rem;
	padding: 6px 20px;
	margin-left: -10px;
	margin-top: -15px;
	font-weight: bold;
	z-index: 9999;
}


.required::after{
	content: '*';
	color: red;
}


h2.title{
	font: 600 25px 'Open Sans', sans-serif;
	margin: 0;
	color: #43a047;
	text-transform: uppercase;
}

h2.title hr{
	color: #43a047;
	background-color: #43a047;
	height: 5px !important;
	margin-top: 0px;
	opacity: 1;
}


.image-projec{
	width: 60%;
}

.single-link{
	color: #253b4e9e;
	text-decoration: none;
}
.centro-academico{
	width:70rem;
	top:200px;
}
.nav-option-right{
	position: fixed;
	width: 400px;
	height: 40px;
	right: -350px;
	top: 40%;
	padding-left: 50px;
	background-color: #8ca01d;
	border-radius: 0 30px 30px 0;
}

.nav-option-right:hover{
	right: -50px;
}

.nav-option-right:before {
	/* content necessário para a criação de um elemento vazio */
	content: "";
	width: 0;
	height: 0;
	top: -5px;
	/* position: absolute para manipularmos a posição da seta */
	position: absolute;
	/* Right com valor negativo para ele ficar para fora do balão de dialogo */
	left: -15px;
	/* E aqui o truque com as bordas */
	/* 50px é a metade da altura do elemento, assim temos uma seta da mesma altura que nosso elemento */
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-right: 25px solid #8ca01d;
	border-radius: 50%;
  }


a{
	text-decoration:none;
}

.link-footer{
 color: #f8f9fa40;
}

.footer-extra-links{
	text-align: right !important;
	font-size: small;
}
