
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/cards.css">

<section style="background-image: url('img/mini-profile-bg-02.jpg');width:1000rem;">
  <div class="container-fluid mt-4">
   <div class="tm-portfolio-name  text-white tm-bg-green mx-auto" style="width:330px;">
    <h1 class="card-title h1">Projetos</h1>
  </div> 
  <p class="lead">O Centro Academico Precisa armazenar seus projetos em lugares que possam divulgar e fortalecer o Campus-Arinos</p>
  <!--<a class="btn btn-primary d-grid gap-2 col-2 mx-auto" href="index.php" role="button">VoltarInicio</a>-->
</div>
</section>
<br>
<div class="card">
  <div class="card-body p-3 mb-5 bg-light rounded">
    <h5 class="card-title h1">Projeto CA</h5>
    <p class="card-text">Fabrica De Software</p>
    <p class="card-text">Ativo</p>
    <a href="/project" target="_blank" class="card-link">Projeto</a>
    <!--<a href="#" class="card-link">Another link</a>-->
  </div>
</div>
<div class="card start-50">
  <div class="card-body p-3 mb-5 bg-light rounded">
    <h5 class="card-title h1">Projeto CA</h5>
    <p class="card-text">Fabrica De Software 2020</p>
    <p class="card-text">Ativo</p>
    <a href="/projetos" target="_blank" class="card-link">Projeto</a>
    <!--<a href="#" class="card-link">Another link</a>-->
  </div>
</div>
