<section id="tmPortfolio" style="background-image:url('img/mini-profile-bg-01.jpg');">
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-12">
          <div class="tm-portfolio-item">
            <div class="tm-portfolio-name  text-white tm-bg-green mx-auto" style="width:330px;">
              <h1 class="card-title h1">Projetos</h1>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="tm-portfolio-description">
  <h3 class="tm-text-green">
    Fábrica de Software
    <span class="tm-title-small">2020</span>
  </h3>
  <p class="mb-0">
    A Fábrica de software é um conjunto de recursos, processos e metodologias estruturados de forma semelhante àqueles das indústrias tradicionais, utilizando as melhores práticas criadas para o processo de desenvolvimento, testes e manutenções dos softwares.
  </p>
</div>
