<div class="container">
  <section style="background-image: url('img/mini-profile-bg-02.jpg');">
    <div class="container-fluid mt-4">
      <div class="tm-portfolio-name  text-white tm-bg-green mx-auto" style="width:320px; ">
        <h1 class="card-title h1">Eventos</h1>
      </div> 
      <p class="lead">O Centro Academico Precisa armazenar seus projetos em lugares que possam divulgar e fortalecer o Campus-Arinos</p>
      <!--<a class="btn btn-primary d-grid gap-2 col-2 mx-auto" href="/events" role="button">VoltarInicio</a>-->
    </div>
  </section>
  <br>
  <div class="row">
    <div class="center">
      <a href="/admin/eventos/novo"><button class="btn btn-primary col-sm-4">Cadastrar novo evento</button></a>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="card col-sm-{{#if (less_or_equals f 2)}}6{{else}}4{{/if}}">
      <div class="card-body  bg-light rounded">
        <h5 class="card-title h1">{{f}}Evento Ca</h5>
        <p class="card-text">Hackton</p>
        <p class="card-text">Ativo</p>
        <a href="/events" target="_blank" class="card-link">Evento_Hackton</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    <div class="card col-sm-{{#if (less_or_equals f 2)}}6{{else}}4{{/if}}">
      <div class="card-body bg-light rounded">
        <h5 class="card-title h1">Projeto CA</h5>
        <p class="card-text">Fabrica De Software 2020</p>
        <p class="card-text">Ativo</p>
        <a href="projeto.php" target="_blank" class="card-link">Projeto</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    <div class="card col-sm-{{#if (less_or_equals f 2)}}6{{else}}4{{/if}}">
      <div class="card-body bg-light rounded">
        <h5 class="card-title h1">Projeto CA</h5>
        <p class="card-text">Fabrica De Software 2020</p>
        <p class="card-text">Ativo</p>
        <a href="projeto.php" target="_blank" class="card-link">Projeto</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

  </div>
</div>
