<div class="fadeIn first" id="form-modal">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img style="width: 100px;" src="img/default-user.png" id="icon" alt="User Icon" />
      </div>

      <div class="message" id="message_login" hidden="hidden"></div>

      <!-- Login Form -->
      <form action="#">
        <label class="form-text">Email:</label> 
        <input type="email" id="email" class="fadeIn second" name="email" placeholder="E-mail">
        <label class="form-text">Senha:</label> 
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Senha">
        <button type="button" class="fadeIn fourth" onclick="return login(this);">Entrar</button>
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Esqueceu a senha?</a>
        <a class="underlineHover" href="#" onclick="openSignUp();">Criar Conta</a>
      </div>

    </div>
  </div>
</div>