<section  style="background-image:url('/img/mini-profile-bg-01.jpg');">
	<div class="jumbotron">
		<h1 class="h1 text-center text-white">Formulario De Atas De Reunião</h1>
		<hr class="my-4">
		<div class="container">
			<div class="row row-cols-4">
				<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg " href="/" role="button">Voltar Menu Inicial</a>
				<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg" style="width:200px;" href="/atas" role="button">Acessar atas de reunião</a>
			</div>	
		</div>
	</div>
</section>
<form action="" method="">
	<div class="shadow-none p-3 mb-5 bg-white rounded card mx-auto col-md-7 mt-4"id="headingOne">
		<div class="col-12">
			<div class="mb-3">
				<label for="tituloreuniao">Titulo Reunião</label>
				<input type="text" class="form-control" id="tituloreuniao" name="tituloreuniao" required="">
			</div>
			<div class="mb-3">
				<label for="descricaoreuniao">Descrição Reunião</label>
				<textarea class="form-control" id="descricaoreuniao" name="descricaoreuniao" rows="3" required=""></textarea>
			</div>
		</div>
	</div>
</form>