<section  style="background-image:url('/img/mini-profile-bg-01.jpg');">
	<div class="jumbotron">
		<h1 class="h1 text-center text-white">Formulario De Cadastro De Eventos</h1>
		<hr class="my-4">
		<div class="container">
			<div class="row row-cols-4">
				<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg " href="/" role="button">Voltar Menu Inicial</a>
				<a class="btn btn-primary d-grid gap-2 col-2 mx-auto btn-lg" style="width:200px;" href="/projeto" role="button">Acessar Pagina De Projeto</a>
			</div>	
		</div>
	</div>
</section>
<form action="" method="post">
	<main role="main" class="accordion" id="accordionExample">
		<div class="shadow-none p-3 mb-5 bg-white rounded card mx-auto col-md-7 mt-4"id="headingOne">
			<div class="col-12">
				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="nomeprojeto">Nome_Projeto</label>
						<input type="text" class="form-control" id="nomeprojeto" name="nomeprojeto" required="">
					</div>
					<div class="col-md-6 mb-3">
						<label for="descricaoprojeto">Descrição_Projeto</label>
						<input type="text" class="form-control" id="descricaoevento" name="descricaoprojeto" required="">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="datainicio">Data_Inicio</label>
						<input type="date" class="form-control" id="datainicio" name="datainicio" required="">
					</div>
					<div class="col-md-6 mb-3">
						<label for="datafinal">Data_Final</label>
						<input type="date" class="form-control" id="datafinal" name="datafinal" required="">
					</div>
				</div>
				<label for="status_projeto">Status_Projeto</label>
				<select class="form-select" id="status_evento" name="status_evento" aria-label="Default select example" required="">
					<option value="" selected="" disabled="">Selecione o status do evento</option>
					<option value="1">Ativo</option>
					<option value="2">Inativo</option>
					<option value="3">Cancelado</option>
				</select>
				<hr class="mt-4">
				<div class="row">
					<div class="col-md-6 mb-1">
						<button class="btn btn-outline-primary col-12 btn-lg shadow-none">Salvar</button>
					</div>
					<div class="col-md-6 mb-1">
						<button class="btn btn-outline-danger btn-lg col-11 shadow-none">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</main>
</form>