<section  style="background-image:url('/img/mini-profile-bg-01.jpg');">
	<div class="jumbotron ">
		<h1 class="h1 text-center text-white">Formulario De Cadastro De PPC</h1>
		<hr class="my-4">
	</div>
</section>
<main role="main" class="accordion" id="accordionExample">
	<form action="" method="post">
		
	</form>
</main>