<link rel="stylesheet" type="text/css" href="/css/cards.css">
<section style="background-image: url('img/mini-profile-bg-02.jpg');width:500rem;" class="mt-4">
  <div class="container-fluid mt-4">
   <div class="tm-portfolio-name  text-white tm-bg-green mx-auto" style="width:330px;">
    <h1 class="card-title h1">Atas De Reunião</h1>
  </div> 
  <p class="lead">O CA é uma empresa sem fins lucrativos que precisa fazer o armazenamento das atas.</p>
  <!--<a class="btn btn-primary d-grid gap-2 col-2 mx-auto" href="index.php" role="button">VoltarInicio</a>-->
</div>
</section>
<br>
<div class="row">
  <div class="col-sm-6 mb-4">
    <div class="card">
      <div class="card-body p-3 mb-5 bg-light rounded">
        <h5 class="card-title h1">Atas De Reunião</h5>
        <p class="card-text">Atas De Reunião 2020</p>
        <p class="card-text">Ativo</p>
        <a href="#" target="_blank" class="card-link">Atas De Reuniçao 2020</a>
        <!--<a href="#" class="card-link">Another link</a>-->
      </div>
    </div>
    <div class="card start-50">
      <div class="card-body p-3 mb-5 bg-light rounded">
        <h5 class="card-title h1">Atas De Reunião</h5>
        <p class="card-text">Atas De Reunião 2021</p>
        <p class="card-text">Ativo</p>
        <a href="#" target="_blank" class="card-link">Atas De Reunião 2021</a>
        <!--<a href="#" class="card-link">Another link</a>-->
      </div>
    </div>
  </div>
</div>
