
<div id="edit-profile" class="default-page row">
	<div class="card-user-profile">
		<div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
		<div class="main main-raised">
			<div class="profile-content">
				<div class="container">
					<div class=" ml-auto mr-auto">
						<div class="profile">
							<div class="avatar">
								<img src="img/default-user.png" width="200px" alt="Circle Image" class="img-raised rounded-circle img-fluid">
							</div>
							<div class="name">
								<h3 class="title" id="user-profile-name" >Christian Louboutin</h3>
								<h6 id="user-profile-email">Designer</h6>
								<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
							</div>
							<button onclick="editUser();">Editar</button>
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>

	<div id="card-update-profile" class="card-user-profile" hidden="hidden">
		<div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
		<div class="main main-raised">
			<div class="profile-content">
				<div class="container">

					<div class=" ml-auto mr-auto">


						<form action="#">

							<label class="form-text">
								Nome: 
								<span class="message-text" id="name_error" hidden="hidden"></span>
							</label> 
							<input type="text" id="name" class="fadeIn second" name="name" placeholder="Nome Completo">

							<label class="form-text">
								Email:
								<span class="message-text" id="email_error" hidden="hidden"></span>
							</label> 
							<input type="email" id="email" class="fadeIn second" name="email" placeholder="E-mail">

							<label class="form-text">
								Senha:
								<span class="message-text" id="password_error" hidden="hidden"></span>
							</label> 
							<input type="password" id="password" class="fadeIn third" name="password" placeholder="Senha">
							<label class="form-text">Confirmar Senha:</label> 
							<input type="password" id="password_confirmation" class="fadeIn third" name="password_confirmation" placeholder="Confirmar Senha">

							<label class="form-text">
								Senha Atual:
								<span class="message-text" id="password_old_error" hidden="hidden"></span>
							</label> 
							<input type="password" id="password_old" class="fadeIn second" name="password_old" placeholder="Senha Atual">

							
							<button type="button" class="fadeIn fourth" onclick="return UpdateUser(this);">Salvar</button>
						</form>
						<button type="button" class="fadeIn fourth btn btn-default" onclick="return CancelEditUser(this);">Cancelar</button>
					</div>

				</div>
			</div>

		</div>

	</div>


</div>

<script src="js/update.js"></script>